.SBox{
    float:left;
    margin:2px;
    height:30px;
    width:250px;
    border: solid black;
    border-radius:5px;
}

#sBox{
    border:none;
    width:210px;
    height:28px;
}

#delete{
    width:24px;
    height:24px;
    margin:2px;
    border-radius:13px;
    background-color: black;
    border: 1px gray;
    color:white;
}