@charset "UTF-8";

.front{
    position:absolute;
    z-index:2;
}


.display{
    width:500px;
    height:500px;
}
.menuSec{
    width: 400px;
    height: 70px;
    text-align: center;
    align-items:center;
}

#main{
    float:left;
    padding: 0px;
    margin:10px;
    display:inline-block;
    background-color: white;
    border-radius: 5px;
    vertical-align: auto;
    border-color: #b8b8b8;
}


/*검색창*/

.SBox1{
    float:left;
    margin-top:17px;
    margin-right:5px;
    height:30px;
    width:250px;
    background-color: white;
    border: solid black;
    border-radius:5px;
}

#sBox{
    border:none;
    width:210px;
    height:28px;
}

#delete{
    width:24px;
    height:24px;
    margin:2px;
    border-radius:13px;
    background-color: black;
    border: 1px gray;
    color:white;
}

#search{
    margin-top:20px;
    padding:0px;
    width: 40px;
    height:30px;
    display:inline-block;
}


/* 버튼 누르면 열리는 메뉴*/

#menu{
    width: 210px;
    height: 150px;
    list-style:none;
    background-color: white;
}


.mbutton{
    width : 200px;
    height: 30px;
    margin: 2px 5px;
}

.zoomSec{
    width: 60px;
}

#zoom{
    margin:5px;
    background-color: white;
    height : 30px;
    width : 30px;
    border-radius: 15px;
    font-size: 20px;
    font-weight: bold;
    /*color: #b8b8b8;*/
    vertical-align: auto;
    border-color: #b8b8b8;
}


#map{
    position:relative;
    z-index:1;
}