<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>광주 동구</title>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=q6jrpz6n66"></script>
</head>
<body>
<div id="map" style="width:950px;height:950px;"></div>

<!--var cctv = new Array();-->
<!--cctv[0] = {{cctvinfo.0.longitude}};-->

<script>
var mapOptions = {
    center: new naver.maps.LatLng( 35.14008589151019, 126.9342576839472),
    zoom: 18
};

var map = new naver.maps.Map('map', mapOptions);


<!--for(i = 1; i<10; i++){-->
    var i = 1;
    var latitude = {{cctvinfo.i.latitude}};
    var longitude = {{cctvinfo.i.longitude}};
    var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(latitude, longitude),
    map: map
    });

    var contentString = [
        '<div class="iw_inner">',
        '   <h3>서울특별시청</h3>',
        '   <p>서울특별시 중구 태평로1가 31 | 서울특별시 중구 세종대로 110 서울특별시청<br />',
        '       02-120 | 공공,사회기관 &gt; 특별,광역시청<br />',
        '       <a href="http://www.seoul.go.kr" target="_blank">www.seoul.go.kr/</a>',
        '   </p>',
        '</div>'
    ].join('');

    var infowindow = new naver.maps.InfoWindow({
     content: contentString
    });

    naver.maps.Event.addListener(marker, "click", function(e) {
        if (infowindow.getMap()) {
            infowindow.close();
     } else {
         infowindow.open(map, marker);
     }
    });

    infowindow.open(map, marker);
<!--}-->


</script>

</body>
</html>